[submodule "bootloader"]
	path = bootloader
	url = https://github.com/wasp-os/wasp-bootloader
[submodule "micropython"]
	path = micropython
	url = https://github.com/mbeijen/micropython
[submodule "tools/pynus"]
	path = tools/pynus
	url = https://github.com/wasp-os/pynus
[submodule "tools/ota-dfu"]
	path = tools/ota-dfu
	url = https://github.com/wasp-os/ota-dfu-python
[submodule "reloader"]
	path = reloader
	url = https://github.com/wasp-os/wasp-reloader
[submodule "wasp/modules/bma42x-upy"]
	path = wasp/modules/bma42x-upy
	url = https://github.com/mbeijen/bma42x-upy
